* {
    --lilac: #beaee2;
    --dark-lilac: #b29fdd;
    --light-pink: #f7dbf0;
    --dark-pink: #FFABE1;
    --dark-purple: #52057B;
    --purple: #892CDC;

}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: var(--lilac);
    padding: 20px 0;
}

header .logo {
    width: 300px;
    height: 300px;
}

.logo {
    width: 250px;
    height: 250px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

/* css da nav */

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000; 
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
	color: var(--dark-purple);
 	text-decoration: underline;
}

.banner { 
    width: 100%; 
    height: 350px; 
} 

.icone {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.icone li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #F2D3BC;
	border-radius: 10px;
}

.icone li:hover {
    border-color: #EBC8B2;
}

.icone li:active {
    border-color: #F2D3BC;    
}

.icone li:hover h2 {
    font-size: 30px;
    font-weight: bold;  
}

.icone-descricao {
    font-size: 20px;
}

h2 {
	font-size: 25px;
    font-weight: bold;
}


/* css do formulário */

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 15px 0;
	background: #957DAD;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: #957DAD;	
	transform: scale(1.2);
}

/* css da pagina inicial */

.banner {
	width: 100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	padding: 3em 0;
	/* background: #F2D3BC; */
    background: #FEFEFE;
	width: 100%;
	margin: 0 auto;
}

.titulo-centralizado {
    text-align: center;
}
p {
	text-align: center;
}

.objetivo { 
    font-size : 20px 
} 

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
    color: var(--dark-purple);
}

.principal em {
	font-style: italic;
}

.mapa {
	padding: 3em 0;
    background: var(--lilac);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
    font-size: 16px;
	padding: 3em 0;
	/* background: #FFFFFF; */
    background: linear-gradient(#FEFEFE, var(--lilac))
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

ul {
    display: inline-block; 
    vertical-align: top; 
    width: 20%;  
    margin-right: 15%; 
}   

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px #000000;
}   

.imagem-beneficios:hover {
	opacity: 0.3;
}

footer {
    padding: 20px 0;
    text-align: center;
    background: var(--light-pink);
}

.copyright {
    color: var(--purple);
    font-size: 20px;
    margin: 20px 0 0;
}


@media screen and (max-width:  480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo {
		width: auto;
	}
	h1 {
		text-align: center;
	}
	nav {
		position: static;
	}
	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}
